[Unit]
Description=pg-perfect-ticker daemon
After=postgresql

[Service]
Type=notify
ExecStart=/path/to/utility/pg-perfect-ticker --log-config=/path/to/logging.json /path/to/config/pg-perfect-ticker.cfg
Restart=always

[Install]
WantedBy=multi-user.target
